---
import classicScript from './index.clajs';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>vite-plugin-classic-js</title>
	</head>
	<body>
		<p id="main"></p>
		<script is:inline src={classicScript}></script>
	</body>
</html>
